CompileFlags:
  CompilationDatabase: .
  QueryDriver: "E:/VS/2022/VC/Tools/MSVC/14.44.35207/bin/Hostx64/x64/cl.exe"

  Add:
    - "--target=x86_64-pc-windows-msvc"
    - "-fms-compatibility-version=19.44"
    - "-fms-extensions"
    - "-fdelayed-template-parsing"
    - "-fms-compatibility"
    - "-std=c++17"
    - "-D_MSVC_LANG=201703L"
    - "-D_DEBUG"
    - "-DUNICODE"
    - "-D_UNICODE"
    - "-DAF_PLATFORM_WINDOWS"
    - "-DAF_DEBUG"
    - "-D_CRT_SECURE_NO_WARNINGS"

    - "-ID:/Test/AFEngine/AFEngine/src"
    - "-ID:/Test/AFEngine/Sandbox/src"

    - "-isystemD:/Test/AFEngine/AFEngine/vendor/spdlog/include"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/GLFW/include"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/Glad/include"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/imgui"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/glm"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/entt/include"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/yaml-cpp/include"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/Box2D/include"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/Assimp/include"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/stb_image"
    - "-isystemD:/Test/AFEngine/AFEngine/vendor/ImGuizmo"

  Remove:
    - "/Fo.*"
    - "/Fd.*"
    - "/Yu.*"
    - "/Fp.*"
    - "/FI.*"
    - "/RTC.*"
    - "/showIncludes"
    - "/W[0-4]"
    - "/Z7"
    - "/Zi"
    - "/Gm-"
    - "/diagnostics:.*"
    - "/utf-8"

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - unknown-pragmas
