# Directories
.vs/
bin/
bin-int/
/AF-Editor/assets/*
!/AF-Editor/assets/shaders/
/AF_Engine/assets/cache/
/AF_Engine/assets/fonts/
/AF_Engine/assets/model/
/AF_Engine/assets/scenes/
/AF_Engine/assets/textures/

# Files
*.user
/AFEngine/src/AF.h

# Build files
*.lib
*.pdb