[submodule "AFEngine/vendor/spdlog"]
	path = AFEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AFEngine/vendor/GLFW"]
	path = AFEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw