[submodule "AFEngine/vendor/spdlog"]
	path = AFEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AFEngine/vendor/GLFW"]
	path = AFEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "AFEngine/vendor/glm"]
	path = AFEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "AFEngine/vendor/imgui"]
	path = AFEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "AFEngine/vendor/yaml-cpp"]
	path = AFEngine/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "AFEngine/vendor/ImGuizmo"]
	path = AFEngine/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "AFEngine/vendor/Box2D"]
	path = AFEngine/vendor/Box2D
	url = https://github.com/TheCherno/box2d
